<p id="notice"><%= notice %></p>

<h1>Liste</h1>
<h3>Ici ajouter des listes de page à Scrapper</h2>
  <%= link_to "Back", root_path, class: "btn btn-treehouse4" %>


<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.url %></td>
        <td><%= list.note %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
