<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @list.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @list.note %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
