<%= simple_form_for(@channel) do |f| %>

<%= f.input :url, placeholder: "Entrez l'URL de la page souncloud a Scrapper", label: false %>
<%= f.button :submit, "Scrape Soundcloud Channel",	class: "btn btn-treehouse new" %>


<% end %>