<h1>Channels</h1>

<div class="channels-header">
<%= link_to "Back", root_path, class: "btn btn-treehouse4" %>
<%= link_to 'Download CSV', valid_followers_path(@followers, format: :csv), class: "btn btn-treehouse2" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Channel Name</th>
      <th scope="col">URL</th>
      <th scope="col">Follower</th>
      <th scope="col">With Emails</th>
    </tr>
  </thead>
  <tbody>
  	<% @channels.each do |channel| %>
    <tr>
      <th scope="row"><%= channel.id %></th>
      <td><%= channel.name %></td>
      <td><%= channel.url %></td>
      <td><%= channel.follower_count %></td>
      <td><%= channel.valid_followers.count %></td>
      <td><%= link_to "Details", channel_path(channel) %> </td>
      <td><%= link_to "Mailer" %></td>
    </tr>
	<% end %>

  </tbody>
</table>