

<ul style="list-style: none;">
<li><h1><%= @channel.name %> </h1></li>
<li><%= @channel.follower_count%> Followers</li>
<li><%= @channel.url%></li>
<li><%= @channel.valid_followers.count%> followers valides <%#= link_to "Afficher", channel_valid_followers_path(@channel) %></li>
</ul>


<table class="table" id="pagefollowerlists">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Handle</th>
      <th scope="col">Followers</th>
      <th scope="col">Titres publiés</th>
      <th scope="col">Mails</th>
    </tr>
  </thead>
  <tbody>
<% @channel.valid_followers.each do |follower| %>
    <tr>
      <th scope="row"><%= follower.id %></th>
      <td><%= follower.username %></td>
      <td><%= follower.handle %></td>
      <td><%= follower.follower_count %></td>
      <td> </td>
      <td><%= follower.email.to_s %></td>


      </td>
      <td><%=  %></td>
      <td><%=  %></td>
    </tr>
	<% end %>

  </tbody>
</table>