<p></p>

<div class="container">

	<div class="header">
		<div class="titre">
			<h1>Soundcloud Mail Scrapper Robot</h1>
		</div>
		<div class="infos">
			<div class="infos-fonctionnalités">
				<p>Trouver les emails dans les descriptions de chaque followers d'une page soundcloud <p>
				<p>Il cherche les adresses mail dans environs 5'000 description de followers en une heure en 4g  </p>



			</div>
			<div class="infos-stats">
				<h4>Compte rendu du robot</h3>
				<ul style="list-style: none;">
					<li><%= Channel.all.count %> chaines soundcloud scrapés, <%= link_to "Voir la liste", channels_path %></li>
					<li><%= ValidFollower.all.count %> emails trouvés </li>
					<li>Total des utilisateurs scrapés: <%= @allusers %> </li>
				</ul>
			</div>
		</div>
	</div>


	<div class="NewSession">
		<div class="newsession-header">

		</div>
		<div class="newsession-box">
	<%= render 'channels/form', :layout => true %>
 
			<%= @estimate_time %>

		</div>
		<div class="newsession-controls">
			<%= link_to "Followers List", valid_followers_path, class: "btn btn-treehouse2" %>
			<%= link_to "Channels List", channels_path, class: "btn btn-treehouse2" %>
			<%= link_to "Channels to Scrap List", lists_path, class: "btn btn-treehouse5" %>
<%= link_to 'Download CSV', valid_followers_path(@followers, format: :csv), class: "btn btn-treehouse3" %>

		</div>
	</div>

	<div class="downpage">
		<h5 style="margin-top: 32px;">Pour l'instant, vous ne pouvez pas savoir ou le robot en est dans la session de scrapping, veuillez patienter environs 1 heure pour 5000 followers et recharger la page</h5>
	</div>
<div class="container">