/* Green */
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Blue */
.btn-treehouse2 {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #5e9bf4;
  transition: background 0.3s ease;
}
.btn-treehouse2:hover {
  opacity: 1;
  background: #5e7cf2;
  text-decoration: none;
  color: white;
}

/* Red */
.btn-treehouse3 {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #f7747a;
  transition: background 0.3s ease;
}
.btn-treehouse3:hover {
  opacity: 1;
  background: #7f3034;
  text-decoration: none;
  color: white;
}

/* Black */
.btn-treehouse4 {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: black ;
  transition: background 0.3s ease;
}
.btn-treehouse4:hover {
  opacity: 1;
  background: #3f3f3f;
  text-decoration: none;
  color: white;
}

/* Grey */
.btn-treehouse5 {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #bfb9bd;
  transition: background 0.3s ease;
}
.btn-treehouse5:hover {
  opacity: 1;
  background: #968b92;
  text-decoration: none;
  color: white;
}
