<br>
<div style="margin: 30px;">
<h2> <%= @followers.count %> emails </h2>
<h5> From <%= Channel.all.count %> channels</h5>
<div class="list-followers-controls">
<%= link_to "Back", root_path, class: "btn btn-treehouse4" %>
<%= link_to 'Download CSV', valid_followers_path(@followers, format: :csv), class: "btn btn-treehouse2" %>


</div>
<br>
<table class="table" id="pagefollowerlists">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Handle</th>
      <th scope="col">Followers</th>
      <th scope="col">From</th>
      <th scope="col">Mails</th>
      <th scope="col">Titres publiés</th>

    </tr>
  </thead>
  <tbody>
<% @followers.each do |follower| %>
    <tr>
      <th scope="row"><%= follower.id %></th>
      <td><%= follower.username %></td>
      <td><%= follower.handle %></td>
      <td><%= follower.follower_count %></td>
      <td> <%= Channel.find(follower.channel.id).name %></td>
      <td><%= follower.email.to_s %></td>


      </td>
      <td><%=  %></td>
      <td><%=  %></td>
    </tr>
	<% end %>

  </tbody>
</table>